/* SignatureSelection.css */

.selection-container {
    background: radial-gradient(circle at center top, #000000 0%, #3b3636 70%, #4a4545 100%);
    min-height: 100vh;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.signature-main-wrapper {
      width: 80%;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 30px;

}


.sig-grid-display {
  display: grid;
 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
}

.sig-item-card {
 background: rgba(255, 255, 255, 0.05);
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
   
}

.sig-item-card:active {
    transform: scale(0.95);
}

.sig-card-inner {
 width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222; 
}

.sig-img-preview {
width: 100%;
    height: 100%;
    object-fit: contain; 
}

.edit-overlay-icon {
    position: absolute;
position: absolute;
  
    background: rgba(221, 218, 211, 0.9);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-overlay-icon img {
    width: 14px;
    filter: brightness(0) invert(1);
}
@media screen and (max-width: 320px) {
    .sig-grid-display {
        grid-template-columns: repeat(2, 1fr);
    }
}

.edit-full-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.large-template-card {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: #b3b3b3; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.template-img {
    width: 100%;
    height: 100%;
    object-fit: stretch;
    position: absolute;
    top: 0;
    left: 0;
}

.template-text-overlay {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.overlay-name {
    margin: 0;
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.overlay-subtitle {
    margin: 0;
    font-size: 8px;
    color: #eee;
}

.template-profile-wrapper {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 70px;
    height: 70px;
    z-index: 5;
}

.template-user-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.edit-inputs-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.bottom-template-selector {
    width: 100%;
    overflow-x: auto;
}

.horizontal-sig-scroll {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}




