
body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272525;
  color: #ffffff;

}

#root {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
 
}